p.intro {
  width: 50%;
  font-style: italic;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.important {
  color: red;
}

.ob {
  font-weight: bolder;
}

.spaced {
  font-family: monospace;
}

.column {
  width: 25%;
  float: left;
}

.float-left {
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: pink;
}
