p.intro {
  width: 75%;
  font-style: italic;
  font-variant-ligatures: normal;
  font-style: oblique;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.important {
  color: Maroon;
  border-radius: green;
}

.ob {
  font-weight: bolder;
}

.spaced {
  font-family: monospace;
}

.column1 {
  width: 21%;
  float: left;
  background-color: lightcoral;
  padding: 10px;
}

.column2 {
  width: 21%;
  float: left;
  background-color: deepskyblue;
  padding: 10px;
}

.column3 {
  width: 21%;
  float: left;
  background-color: darkorchid;
  padding: 10px;
}

.column4 {
  width: 21%;
  float: left;
  background-color: lightseagreen;
  padding: 10px;
}

.float-left {
  float: left;
  margin: 10px;
  padding-right: 2px;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: pink;
  border: 5px;
  margin: 10px;
  padding: 10px;
  transform: matrix3d();
}

.side2 {
  margin: 12px;
  border: 15px solid green;
  padding: 4px;
  background-color: orange;
  opacity: 80%;
}

.header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
